html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --primary: #00278b;
  --secondary: #043fa6;
  --teritiary: #d5b019;
  --light: #ffffff;
  --dark: #000000;
}

/* APP LAYOUT */
.app-layout-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

/* APP SIDEBAR */
.app-layout-side-bar {
  width: 20%;
  height: 100%;
  background: var(--teritiary);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.branding {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100px;
}

.link-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.link-container > .sidebar-link {
  min-width: 100px;
  height: 50px;
  background: var(--secondary);
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--light);
}

/* APP CONTENT AREA */
.app-layout-content-area {
  width: calc(100% - 15%);
  height: 100%;
  background: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.app-page-banner {
  width: 100%;
  height: 300px;
  background: #f5f5f5;
  border-radius: 10px;
  background-image: url("https://ipltoday.sportkhelo.co.in/wp-content/uploads/2023/02/IPL-2023-Everything-You-Need-to-Know-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NO DATA COMPONENT */
.no-data-component {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* APP PAGE CONTENT HEADER */

.app-page-content-area-header {
  display: flex;
  flex-direction: row;
}

.header-start {
  width: 50%;
}

.header-end {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}
